.CustomNavBarTitle{
    font-family: 'Nunito', sans-serif;
    font-size: 35px;
    font-weight: 900;
}

.CustomNavBarContent{
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.CustomTextContent{
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    color: #353535;
    font-weight: 400;

}

.CustomTextTitles{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: #353535;
    font-weight: 900;
}

.DDCustomText{
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    color: white;
    font-size: 15px;
}

.DDContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ReporteContainer{
    display: flex;
    flex-direction: column;
}

.PreguntasContainer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.DDlineaA{
    background-color: #A2277C;
}

.DDlineaB{
    background-color: #A8A8A8;
}

.DDlinea1{
    background-color: #EB689A;
}

.DDlinea2{
    background-color: #187ABE;
}

.DDlinea3{
    background-color:#AE9D27;
}

.DDlinea4{
    background-color: #6FB7AE;
}

.DDlinea5{
    background-color: #FDDF00;
}

.DDlinea6{
    background-color:#FA1002;
}

.DDlinea7{
    background-color:#FA6209;
}

.DDlinea8{
    background-color :#1D8748;
}

.DDlinea9{
    background-color:#5B2C2A;
}

.DDlinea12{
    background-color:#B99E50;
}

.dropdown{
    margin: 20px;

}

.btnContainer{
    margin-top: 30px;
}


.iconoOK{
    margin-top: 20px;
    font-size: 40px;
    color: green;

}

.CustomTextModal{
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    font-weight: 700;
}

.mapContainer{
    display: flex;
    margin: 60px;
}

.mapa{
    width: 100vw;
}

.btnGral{
    font-family: 'Nunito', sans-serif;
    color: white;
    font-weight: 400;
    background-color: #00A878;
    border: none;
}

.customBtn{
    

}